<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header">
        <meta charset="UTF-8">
        <title>Title</title>
        <!--        <link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">-->
        <!--        <script th:src="@{/jQuery/jquery.min.js}"></script>-->
        <!--        <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>-->
        <!--        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">-->
        <!--        <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>-->
        <!--        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
        <link th:href="@{/static/static/layui/css/layui.css}" rel="stylesheet">
        <script th:src="@{/static/static/layui/layui.js}"></script>
    </div>
</head>
<body>
<img src="img/ww.jpeg">
</body>
</html>